<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>会員情報編集</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pb-5 nagoyameshi-container">
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6 col-md-8">
						<nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
								<li class="breadcrumb-item"><a th:href="@{/user}">会員情報</a></li>
								<li class="breadcrumb-item active" aria-current="page">会員情報編集</li>
							</ol>
						</nav>

						<h1 class="mb-3 text-center">会員情報編集</h1>

						<hr class="mb-4">

						<form method="post" th:action="@{/user/update}" th:object="${userEditForm}">
							<input type="hidden" th:field="*{id}">

							<div class="form-group row mb-3">
								<div class="col-md-5">
									<label for="name" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">氏名</span>
											<span class="badge bg-danger">必須</span>
										</div>
									</label>
								</div>
								<div class="col-md-7">
									<div th:if="${#fields.hasErrors('name')}" class="text-danger small mb-2"
										th:errors="*{name}"></div>
									<input type="text" class="form-control" th:field="*{name}" required
										autocomplete="name" autofocus placeholder="侍 太郎">
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-5">
									<label for="furigana" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">フリガナ</span>
											<span class="badge bg-danger">必須</span>
										</div>
									</label>
								</div>
								<div class="col-md-7">
									<div th:if="${#fields.hasErrors('furigana')}" class="text-danger small mb-2"
										th:errors="*{furigana}"></div>
									<input type="text" class="form-control" th:field="*{furigana}" required
										pattern="^[ァ-ヶー]+([ 　][ァ-ヶー]+)*$" title="フリガナは全角カタカナで入力してください。"
										placeholder="サムライ タロウ">
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-5">
									<label for="postalCode" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">郵便番号</span>
											<span class="badge bg-danger">必須</span>
										</div>
									</label>
								</div>
								<div class="col-md-7">
									<div th:if="${#fields.hasErrors('postalCode')}" class="text-danger small mb-2"
										th:errors="*{postalCode}"></div>
									<input type="text" class="form-control" th:field="*{postalCode}" required
										pattern="^[0-9]{7}$" title="郵便番号は7桁の半角数字で入力してください。" maxlength="7"
										autocomplete="postal-code" placeholder="1010022">
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-5">
									<label for="address" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">住所</span>
											<span class="badge bg-danger">必須</span>
										</div>
									</label>
								</div>
								<div class="col-md-7">
									<div th:if="${#fields.hasErrors('address')}" class="text-danger small mb-2"
										th:errors="*{address}"></div>
									<input type="text" class="form-control" th:field="*{address}" required
										placeholder="東京都千代田区神田練塀町300番地">
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-5">
									<label for="phoneNumber" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">電話番号</span>
											<span class="badge bg-danger">必須</span>
										</div>
									</label>
								</div>
								<div class="col-md-7">
									<div th:if="${#fields.hasErrors('phoneNumber')}" class="text-danger small mb-2"
										th:errors="*{phoneNumber}"></div>
									<input type="text" class="form-control" th:field="*{phoneNumber}" required
										autocomplete="tel-national" pattern="^[0-9]{10,11}$"
										title="電話番号は10桁または11桁の半角数字で入力してください。" minlength="10" maxlength="11"
										placeholder="09012345678">
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-5">
									<label for="birthday" class="col-form-label text-md-left fw-bold">誕生日</label>
								</div>
								<div class="col-md-7">
									<div th:if="${#fields.hasErrors('birthday')}" class="text-danger small mb-2"
										th:errors="*{birthday}"></div>
									<input type="text" class="form-control" th:field="*{birthday}"
										pattern="^$|^[0-9]{8}$" title="誕生日は8桁の半角数字で入力してください。" maxlength="8"
										autocomplete="bday" placeholder="19950401">
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-5">
									<label for="occupation" class="col-form-label text-md-left fw-bold">職業</label>
								</div>
								<div class="col-md-7">
									<div th:if="${#fields.hasErrors('occupation')}" class="text-danger small mb-2"
										th:errors="*{occupation}"></div>
									<input type="text" class="form-control" th:field="*{occupation}"
										placeholder="エンジニア">
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-5">
									<label for="email" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">メールアドレス</span>
											<span class="badge bg-danger">必須</span>
										</div>
									</label>
								</div>
								<div class="col-md-7">
									<div th:if="${#fields.hasErrors('email')}" class="text-danger small mb-2"
										th:errors="*{email}"></div>
									<input type="text" class="form-control" th:field="*{email}" required
										autocomplete="email" placeholder="taro.samurai@example.com">
								</div>
							</div>

							<hr class="my-4">

							<div class="form-group d-flex justify-content-center">
								<button type="submit" class="btn text-white shadow-sm w-50 nagoyameshi-btn">更新</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>