<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>会員情報</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pb-5 nagoyameshi-container">
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6 col-md-8">
						<nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
								<li class="breadcrumb-item active" aria-current="page">会員情報</li>
							</ol>
						</nav>

						<h1 class="mb-3 text-center">会員情報</h1>

						<div class="d-flex justify-content-end align-items-end mb-3">
							<div>
								<a th:href="@{/user/edit}">編集</a>
							</div>
						</div>

						<div th:if="${successMessage}" class="alert alert-info">
							<span th:text="${successMessage}"></span>
						</div>

						<div class="container mb-4">
							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-3">
									<span class="fw-bold">氏名</span>
								</div>

								<div class="col">
									<span th:text="${user.getName()}"></span>
								</div>
							</div>

							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-3">
									<span class="fw-bold">フリガナ</span>
								</div>

								<div class="col">
									<span th:text="${user.getFurigana()}"></span>
								</div>
							</div>

							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-3">
									<span class="fw-bold">メールアドレス</span>
								</div>

								<div class="col">
									<span th:text="${user.getEmail()}"></span>
								</div>
							</div>

							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-3">
									<span class="fw-bold">郵便番号</span>
								</div>

								<div class="col">
									<span
										th:text="${#strings.substring(user.getPostalCode(), 0, 3) + '-' + #strings.substring(user.getPostalCode(), 3)}"></span>
								</div>
							</div>

							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-3">
									<span class="fw-bold">住所</span>
								</div>

								<div class="col">
									<span th:text="${user.getAddress()}"></span>
								</div>
							</div>

							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-3">
									<span class="fw-bold">電話番号</span>
								</div>

								<div class="col">
									<span th:text="${user.getPhoneNumber()}"></span>
								</div>
							</div>

							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-3">
									<span class="fw-bold">誕生日</span>
								</div>

								<div class="col">
									<span th:if="${user.getBirthday() != null}"
										th:text="${#temporals.format(user.getBirthday(), 'yyyy年M月d日')}"></span>
									<span th:unless="${user.getBirthday() != null}">未設定</span>
								</div>
							</div>

							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-3">
									<span class="fw-bold">職業</span>
								</div>

								<div class="col">
									<span th:if="${user.getOccupation() != null}"
										th:text="${user.getOccupation()}"></span>
									<span th:unless="${user.getOccupation() != null}">未設定</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>