<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600&display=swap" rel="stylesheet">

	<!-- Swiper -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">

	<title>NAGOYAMESHI</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>

			<div th:if="${param.loggedIn}" class="container nagoyameshi-container my-3">
				<div class="alert alert-info" role="alert">
					<p class="mb-0">ログインしました。</p>
				</div>
			</div>

			<div th:if="${param.loggedOut}" class="container nagoyameshi-container my-3">
				<div class="alert alert-info" role="alert">
					<p class="mb-0">ログアウトしました。</p>
				</div>
			</div>

			<div th:if="${successMessage}" class="container nagoyameshi-container my-3">
				<div class="alert alert-info" role="alert">
					<span th:text="${successMessage}"></span>
				</div>
			</div>

			<div th:if="${errorMessage}" class="container nagoyameshi-container my-3">
				<div class="alert alert-danger" role="alert">
					<span th:text="${errorMessage}"></span>
				</div>
			</div>

			<div class="bg-light mb-4 py-4">
				<div class="container nagoyameshi-container">
					<h2 class="mb-3">キーワードから探す</h2>
					<form method="get" th:action="@{/restaurants}" class="nagoyameshi-user-search-box">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="店舗名・エリア・カテゴリ" name="keyword">
							<button type="submit" class="btn text-white shadow-sm nagoyameshi-btn">検索</button>
						</div>
					</form>
				</div>
			</div>

			<div class="container nagoyameshi-container">

				<h2 class="mb-3">新着</h2>
				<div class="row row-cols-xl-6 row-cols-md-3 row-cols-2 g-3 mb-5">
					<div th:each="newRestaurant : ${newRestaurants}" class="col">
						<a th:href="@{/restaurants/__${newRestaurant.getId()}__}"
							class="link-dark nagoyameshi-card-link">
							<div class="card h-100">
								<img th:unless="${newRestaurant.getImage() == null}"
									th:src="@{/storage/__${newRestaurant.getImage()}__}"
									class="card-img-top nagoyameshi-vertical-card-image" alt="店舗画像">
								<img th:if="${newRestaurant.getImage() == null}" th:src="@{/images/no_image.jpg}"
									class="card-img-top nagoyameshi-vertical-card-image" alt="画像なし">

								<div class="card-body">
									<h3 class="card-title" th:text="${newRestaurant.getName()}"></h3>
									<div class="text-muted small mb-1">
										<th:block th:unless="${newRestaurant.getCategories().isEmpty()}">
											<th:block th:each="category, stat : ${newRestaurant.getCategories()}">
												<div class="d-inline-block">
													<span th:if="${stat.first}"
														th:text="${category.getName()}"></span><span
														th:unless="${stat.first}"
														th:text="${' ' + category.getName()}"></span>
												</div>
											</th:block>
										</th:block>
										<span th:if="${newRestaurant.getCategories().isEmpty()}">カテゴリ未設定</span>
									</div>
									<p class="card-text"
										th:text="${#strings.abbreviate(newRestaurant.getDescription(), 20)}"></p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>

</body>

</html>