<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>有料プラン解約</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pb-5 nagoyameshi-container">
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6 col-md-8">
						<nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
								<li class="breadcrumb-item active" aria-current="page">有料プラン解約</li>
							</ol>
						</nav>

						<h1 class="mb-3 text-center">有料プラン解約</h1>

						<p>有料プランを解約すると以下の特典を受けられなくなります。本当に解約してもよろしいですか？</p>

						<div class="card mb-4">
							<div class="card-header text-center">
								有料プランの内容
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">・当日の2時間前までならいつでも予約可能</li>
								<li class="list-group-item">・レビューを全件閲覧可能</li>
								<li class="list-group-item">・レビューを投稿可能</li>
								<li class="list-group-item">・月額たったの300円</li>
							</ul>
						</div>

						<form method="post" th:action="@{/subscription/delete}">
							<div class="form-group d-flex justify-content-center">
								<button class="btn text-white shadow-sm w-50 nagoyameshi-btn-danger">解約</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>