<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>会員一覧</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container py-4 nagoyameshi-container">
				<div class="row justify-content-center">

					<div class="col container">
						<div class="row justify-content-center">
							<div class="col-xxl-9 col-xl-10 col-lg-11">

								<h1 class="mb-4 text-center">会員一覧</h1>

								<div class="d-flex justify-content-between align-items-end flex-wrap">
									<form method="get" th:action="@{/admin/users}"
										class="nagoyaemshi-admin-search-box mb-3">
										<div class="input-group">
											<input type="text" class="form-control" name="keyword" th:value="${keyword}"
												placeholder="氏名・フリガナで検索">
											<button type="submit"
												class="btn text-white shadow-sm nagoyameshi-btn">検索</button>
										</div>
									</form>
								</div>

								<div>
									<p class="mb-0"
										th:text="${'計' + #numbers.formatInteger(userPage.getTotalElements(), 1, 'COMMA') + '件'}">
									</p>
								</div>

								<table class="table table-hover nagoyameshi-users-table">
									<thead>
										<tr>
											<th scope="col">ID</th>
											<th scope="col">氏名</th>
											<th scope="col">フリガナ</th>
											<th scope="col">メールアドレス</th>
											<th scope="col"></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="user : ${userPage}">
											<td th:text="${user.getId()}"></td>
											<td th:text="${user.getName()}"></td>
											<td th:text="${user.getFurigana()}"></td>
											<td th:text="${user.getEmail()}"></td>
											<td><a th:href="@{/admin/users/__${user.getId()}__}">詳細</a></td>
										</tr>
									</tbody>
								</table>

								<!-- ページネーション -->
								<div th:if="${userPage.getTotalPages() > 1}" class="d-flex justify-content-center">
									<nav aria-label="会員一覧ページ">
										<ul class="pagination">
											<li class="page-item">
												<span th:if="${userPage.isFirst()}" class="page-link disabled">前</span>
												<a th:unless="${userPage.isFirst()}"
													th:href="@{/admin/users(page = ${userPage.getNumber() - 1}, keyword = ${keyword})}"
													class="page-link nagoyameshi-page-link">前</a>
											</li>
											<li th:each="i : ${#numbers.sequence(0, userPage.getTotalPages() - 1)}"
												class="page-item">
												<span th:if="${i == userPage.getNumber()}"
													class="page-link active nagoyameshi-active"
													th:text="${i + 1}"></span>
												<a th:unless="${i == userPage.getNumber()}"
													th:href="@{/admin/users(page = ${i}, keyword = ${keyword})}"
													class="page-link nagoyameshi-page-link" th:text="${i + 1}"></a>
											</li>
											<li class="page-item">
												<span th:if="${userPage.isLast()}" class="page-link disabled">次</span>
												<a th:unless="${userPage.isLast()}"
													th:href="@{/admin/users(page = ${userPage.getNumber() + 1}, keyword = ${keyword})}"
													class="page-link nagoyameshi-page-link">次</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>