<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>パスワード再発行</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pt-4 pb-5 nagoyameshi-container">
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6 col-md-8">
						<h1 class="mb-4 text-center">パスワード再発行</h1>

						<hr class="mb-4">

						<form method="post" th:action="@{/reset}" th:object="${resetForm}">

							<div class="form-group row mb-3">
								<div class="col-md-5">
									<label for="email" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">メールアドレス</span>
											<span class="badge bg-danger">必須</span>
										</div>
									</label>
								</div>
								<div class="col-md-7">
									<div th:if="${#fields.hasErrors('email')}" class="text-danger small mb-2"
										th:errors="*{email}"></div>
									<input type="text" class="form-control" th:field="*{email}" required
										autocomplete="email" placeholder="taro.samurai@example.com">
								</div>
							</div>

							<div class="form-group d-flex justify-content-center mb-4">
								<button type="submit" class="btn text-white shadow-sm w-50 nagoyameshi-btn">送信</button>
							</div>
						</form>

						<div class="text-center">
							<a th:href="@{/login}">ログイン画面に戻る</a>
						</div>

					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>